<p>Type a sentence here and begin labelling</p>

<form (submit)="parse()">
  <input [(ngModel)]="query" name="query" placeholder="hello world">
  <button type="submit">Parse</button>
</form>

<div style="position: absolute; margin-top: 100px; margin-left: 100px; margin-bottom: 100px">
  <div *ngIf="segmentedLine">
    <div><sd-segment *ngFor="let seg of segmentedLine.segments" [segment]="seg"></sd-segment></div>
  </div>
  <div *ngIf="labelSections">
    <sd-chunk *ngFor="let chunk of labelSections" [chunk]="chunk"></sd-chunk>
  </div>
</div>

<!--
<div style="position:absolute">JSON returned from server:</div>
<div style="position:absolute">{{temp}}</div>
-->